/* 

FONTS:
font-family: 'Georama', sans-serif;
font-family: 'Orbitron', sans-serif; 

COLORS:
h1: # ffffff
p: # b9b9b
boxes: # 464646

*/

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
GLOBALS
*/

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	background-image: url("img/background.png");
	background-size: 5%;
}

h1 {
	font-size: 70px;
	font-family: "Montserrat", sans-serif;
	color: white;
}

p {
	font-size: 22px;
	font-family: "Georama", sans-serif;
	color: #b9b9b9;
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
HEADER 
*/

.main-header {
	background-color: black;
	width: 100%;
	height: 4em;
	position: fixed;
	z-index: 5;
}

.logo-nav {
	position: absolute;
	top: 0;
	left: -4em;
}

.logo {
	height: auto;
	width: 7em;
	padding: 0.5em;
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
NAV BAR AND ANCHORS 
*/

nav {
	position: absolute;
	top: 1.4em;
	right: 1em;
	display: flex;
	max-width: 100em;
	transition-duration: 0.25s;
}

nav a {
	padding: 0em 4em;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: white;
}

a:hover {
	text-decoration: underline;
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
HOME PAGE
*/

.welcome-video {
	position: absolute;
	z-index: -9;
	bottom: 0em;
}

.landing {
	padding: 20em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing h1 {
	font-family: "Orbitron", sans-serif;
	text-shadow: 2px 2px 10px black;
}

.landing-btn {
	text-decoration: none;
	font-family: "Orbitron", sans-serif;
	font-size: 30px;
	margin-top: 5em;
	padding: 1em 4em;
	background-color: black;
	color: white;
	transition-duration: 0.1s;
}

.landing-btn:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
ABOUT PAGE
*/

.abt-bio {
	position: absolute;
	top: 7em;
	left: 4em;
	z-index: 1;

	max-width: 40%;
}

hr {
	border-top: 0.25px solid white;
	margin-bottom: 1em;
}

.abt-bio h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 3em;
	letter-spacing: 0.05em;
}

.abt-bio p {
	color: white;
	padding-bottom: 2em;
	font-size: 1.2em;
}

.abt-subtitle {
	position: absolute;
	bottom: 3em;
	left: 3em;

	color: white;
	font-size: 0.9em;
	font-style: italic;
	z-index: 1;
}

.abt-backdrop {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(50%);
	z-index: -99;
}

#building-bd {
	background-image: url("img/building.png");
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
PRODUCTS AND TECHNOLOGY PAGE
*/

.pt-h1 {
	font-size: 4em;
	padding-top: 1.2em;
	padding-bottom: 0.3em;
	text-align: center;
}

.product-container-main {
	padding-top: 4em;
	display: grid;
	grid-template-columns: 4fr 1fr;
}

.pt-container-1 {
	height: 93.5vh;
}

.pt-container-2,
.pt-container-3 {
	width: 50vw;
}

.nested {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.node {
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	position: relative;
	transition-duration: 0.5s;
	background-size: 100%;
	background-repeat: no-repeat;
	transition-duration: 0.25s;
	text-decoration: none;
}

.node:hover {
	background-size: 101%;
	filter: brightness(50%);
	text-decoration: none;
}

#node1 {
	top: 45%;
	left: 11%;
}

#node2 {
	top: 25%;
	left: 60%;
}

#node3 {
	top: 72%;
	left: 60%;
}

#node-epaframe {
	background-image: url("img/epa-tn.png");
}
#node-autochef {
	background-image: url("img/autochef-tn.png");
}
#node-courier {
	background-image: url("img/courier.png");
}

/* NEW PRODUCT PAGE */

.p-backdrop {
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	filter: brightness(50%);
	position: relative;
	z-index: -1;
}

#autochef-bd {
	filter: brightness(50%);
}

#courier-bd {
	background-image: url("img/courier-bg.png");
}
#epa-bd {
	background-image: url("img/epa-bg.png");
}
#autochef-bd {
	background-image: url("img/chef-bg.png");
}

.p-title-container {
	position: absolute;
	top: 7em;
	left: 4.5em;
}

.p-title-h1 {
	letter-spacing: 0.05em;
	font-family: "Montserrat", sans-serif;
}

.p-subtitle {
	font-family: "Montserrat", sans-serif;
	color: white;
	letter-spacing: 0.05em;
}

.p-bio {
	color: rgb(192, 192, 192);
	max-width: 40%;
}

.buttons {
	position: absolute;
	bottom: 5em;
	left: 4.5em;
}

.p-preorder {
	background-color: black;
	color: white;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	letter-spacing: 0.2em;
	padding: 3em 4em;
	transition-duration: 0.25s;
}

#dark-bg {
	background-color: rgb(20, 20, 20);
}

.goback {
	bottom: 3em;
	left: 4.5em;
	background-color: black;
	color: white;
	padding: 3em 2em;
	margin-right: 1em;
	text-decoration: none;
	transition-duration: 0.25s;
}

.p-preorder:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

.goback:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

.p-ul {
	font-size: 1em;
	max-width: 25%;
	margin-left: 1em;
	color: rgb(192, 192, 192);
}

.footer {
	position: absolute;
	bottom: 2.5em;
	right: 2em;
}

#with-disclaimer {
	width: 67%;
	display: flex;
	justify-content: space-between;
}

#dark-bg:hover {
	background-color: white;
	color: black;
}

.p-footer {
	font-size: 0.8em;
	color: white;
}

.p-disclaimer {
	color: rgb(192, 192, 192);
	font-size: 0.5em;
}

/* /////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
CONTACT PAGE
*/

.contact-container {
	width: 100vw;
	height: 100vh;
}

.contact {
	padding: 6em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact h1 {
	font-size: 4em;
	margin-bottom: 1em;
}

td {
	padding: 2em;
	font-family: "Montserrat", sans-serif;
	color: white;
	font-size: 2em;
}

.legal {
	margin-top: 7em;
}

.legal p {
	font-size: 1em;
	margin-bottom: 1em;
}

.preorder-container {
	height: 100vh;
	width: 100%;
	position: relative;
}

.webform {
	width: 100%;
	height: 70%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.webform p {
	font-size: 0.9em;
}

#p-sub {
	font-size: 1.2em;
}

.webform h3 {
	font-size: 1.5em;
	font-family: "Montserrat", sans-serif;
	color: white;
	letter-spacing: 0.1em;
}

.confirm {
	grid-column: 2;
	display: flex;
	align-items: center;
}

input {
	padding: 0.5em;
	margin-bottom: 1em;
	width: 45em;
}

label {
	color: white;
	font-family: "Montserrat", sans-serif;
}

.preorder-banner {
	width: 100vw;
	height: 30%;
	background-size: 130%;
	background-position-y: -30em;
	filter: brightness(50%);
}

#courier-banner {
	background-image: url("img/courier-bg.png");
	background-repeat: no-repeat;
}
#epa-banner {
	background-image: url("img/epa-bg.png");
	background-repeat: no-repeat;
}
#autochef-banner {
	background-image: url("img/autochef.png");
	width: 100%;
	background-size: 100%;
	background-position-y: -40em;
	background-repeat: no-repeat;
}

.banner-text h1 {
	font-size: 6em;
}

.banner-text p {
	margin-left: 0.25em;
	margin-bottom: 1em;
}

.banner-text {
	position: absolute;
	top: 6em;
	left: 2em;
	z-index: 1;
}

#submit-btn {
	margin: 3em 0 1em 0;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: white;
	background-color: black;
	border: none;
	width: 50%;
	height: 10em;
	transition-duration: 0.25s;
}

#submit-btn:hover {
	background-color: white;
	color: black;
}

#submit-btn:active {
	transform: scale(0.95);
}